* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.m-management-header {
    position: relative;
    height: 80px;
    line-height: 80px;
}

.m-header-title {
    font-size: 30px;
    text-align: center;
    color: #333333;
}

.m-header-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px 0 0;
}

.m-header-username {
    margin: 0 20px 0 0;
    font-size: 22px;
    color: #f66f0c;
    font-weight: bold;
}

.m-content {
    height: 500px;
}

.m-content-inner {
    padding: 50px 20px;
}

.m-upload-input-wrap {
    margin: 20px 0;
}

.m-upload-img {
    width: 100px;
    height: 100px;
}

.m-row {
    margin: 20px 0 0;
    width: 100%;
}

.m-article-textarea-wrap {
    margin: 20px 0;
}